@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate {
    animation: fadeInUp 0.8s ease forwards;
}

.animate-delay-2 {
    animation-delay: 0.2s;
    opacity: 0;
}

.animate-delay-4 {
    animation-delay: 0.4s;
    opacity: 0;
}

body:has(#mobile-menu-toggle:checked) {
    overflow: hidden;
}

#mobile-menu-toggle:checked+label .icon-menu {
    display: none;
}

#mobile-menu-toggle:not(:checked)+label .icon-close {
    display: none;
}